@inherits DocumentoListBase

<MudStack>
    <MudItem xs="12" md="6">
        <MudSelect T="string"
            Placeholder="Status"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter" 
            TransformOrigin="Origin.TopCenter"
            MultiSelection="true"
            SelectedValues="@_selectedStatuses"
            SelectedValuesChanged="@(values => {
                _selectedStatuses = new HashSet<string>(values);
                ApplyFilters(); // Chama ApplyFilters aqui
            })"
            MultiSelectionTextFunc="@(selectedItems => selectedItems.Count == 0 ? "Status" : $"{selectedItems.Count} selecionado(s)")"
            CloseMenuOnItemClick="false"
            Class="mt-0">
            @foreach (var status in _statusOptions)
            {
                <MudSelectItem T="string" Value="@status">@status</MudSelectItem>
            }
        </MudSelect>

        <MudSelect T="string"
            Placeholder="Modelo"
            Variant="Variant.Outlined"
            Class="mt-0"
            MultiSelection="true"
            AnchorOrigin="Origin.BottomCenter" 
            TransformOrigin="Origin.TopCenter"
            SelectedValues="@_selectedModels"
            SelectedValuesChanged="@(values => {
                _selectedModels = new HashSet<string>(values);
                ApplyFilters(); // Chama ApplyFilters aqui
            })">
            @foreach (var model in _modelOptions)
            {
                <MudSelectItem T="string" Value="@model">@model</MudSelectItem>
            }
        </MudSelect>

        <MudStack>
            <MudMenu 
                Label="Número"
                ActivationEvent="MouseEvent.LeftClick"
                AnchorOrigin="Origin.BottomCenter" 
                TransformOrigin="Origin.TopCenter"
                Variant="Variant.Outlined">
                @{
                    int IntValue;
                }
                
                <MudContainer Class="pa-4">                             
                    <MudNumericField HideSpinButtons="true" 
                                    @bind-Value="IntValue" 
                                    Label="Número inicial" 
                                    Variant="Variant.Text" 
                                    Min="0" 
                                    Max="50" />
                    <MudNumericField HideSpinButtons="true" 
                                    @bind-Value="IntValue" 
                                    Label="Número final" 
                                    Variant="Variant.Text" 
                                    Min="0" 
                                    Max="50" />
                </MudContainer>
            </MudMenu>
        </MudStack>
        
        <MudRadioGroup @bind-Value="SelectedValue">
            <MudRadio Color="Color.Primary" Value="@("1")">1</MudRadio>
            <MudRadio Color="Color.Primary" Value="@("2")">2</MudRadio>
            <MudRadio Color="Color.Primary" Value="@("3")">3</MudRadio>
        </MudRadioGroup>
        <div class="d-flex align-center">
            <MudButton Variant="Variant.Outlined" OnClick="Reset">Reset</MudButton>
            <MudText Class="ml-4">Selected Option: @SelectedValue</MudText>
        </div>
    </MudItem>
</MudStack>
